doctype html
html

  block link
    -var selected = 'index'; //default

  include includes/_head

  if selected === 'index'
    title Pleeease &middot; Process CSS with ease
    meta(name='description',content='Combine CSS preprocessors (Sass, LESS or Stylus) with PostCSS')
  else if selected === 'docs'
    title Pleeease &middot; Documentation
    meta(name='description',content='Configure Pleeease and learn how to use it.')
  else if selected === 'workflow'
    title Pleeease &middot; Workflow
    meta(name='description',content='Optimize your workflow to save time and effort.')

  body

    header.header
      .header-titles
        h1.header-title
          a(href='/') pleeease
        p.header-version
          a(id='version', href='https://github.com/iamvdo/pleeease/releases',title='See changelog on GitHub') 3.x.x
      h2.header-subtitle Process CSS with ease

    include includes/_menu

    section

      article(class=selected)

        block content

    footer.footer
      -var date = new Date().getFullYear()
      p ©2014-#{date}. Processed with <a href="/">Pleeease</a> by <a href="http://twitter.com/iamvdo">@iamvdo</a>. View sources on <a href="https://github.com/iamvdo/pleeease/">GitHub</a>. Follow <a href="http://twitter.com/pleeeaseCSS">@pleeeaseCSS</a> for updates.
      p.note Thanks to <a href="http://twitter.com/andreysitnik">@andreysitnik</a> for PostCSS and Autoprefixer, <a href="http://twitter.com/moox">@MoOx</a> for some PostCSS plugins and <a href="http://twitter.com/goetter">@goetter</a> for his contributions, feedback and testing.

    include includes/_version
    script.
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analytics.iamvdo.me/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '3']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
